<html>
	<head>
		<script type="text/javascript" src="http://code.angularjs.org/1.0.1/angular-1.0.1.js"></script>
		<script type="text/javascript">
			function MyController($scope) {
				$scope.beers = [
					{name: 'the river', type: 'lager', alcool: 4.25}, 
					{name: 'rising sun', type: 'ale', alcool: 5.5},
					{name: 'the dark side', type: 'stout', alcool: 6.1}];
					
				$scope.add = function(){
					$scope.beers.push({});
				};	
				
				$scope.remove = function(beer){
					var index = $scope.beers.indexOf(beer);
					$scope.beers.splice(index, 1);
				};
				
				$scope.avgAlcool = function(){
					var sum = 0;
					angular.forEach($scope.beers, function(beer){ sum += beer.alcool;});
					return sum / $scope.beers.length;
				};
				
			}
		</script>
	</head>
	<body ng-app ng-controller="MyController">
		<h1>Some beers</h1>
		<div ng-repeat="beer in beers">
			<input type="text" ng-model="beer.name" placeholder="name"/>
			<input type="text" ng-model="beer.type" placeholder="type" />
			<input type="number" ng-model="beer.alcool" />%
			<a ng-click="remove(beer)">[remove]</a>
			<hr/>
		</div>
		<a ng-click="add()">[add]</a><br>
		Avg {{avgAlcool()}}%
	</body>
</html>